$txt__color:#77EEEE;
$white: #fff;
$border__color: #E6ECF0;
$black: #333;
$orta: auto;


body{
    
}

.containerr{
    width: 450px;
    background-image: url('../img/bg.png');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 110px 75px 75px 75px; 
    border-radius: 5px;

h1{
    font-size: 35px;
    color: $txt__color;
    font-family: sans-serif;
}

form{
    padding-top: 20px;

label{
    font-size: 15px;
    color: #777;
}

.news__users__link{
    font-size: 18px;
    color: $txt__color;
    font-weight: bold;
    cursor: pointer;
}

.password__reset{
    cursor: pointer;
&:hover{
    color: #333;
    transition: ease 0.8s all;
}
}
}

}

.ant-input-affix-wrapper{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    margin-top: 20px;
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused{
    box-shadow: none !important;
}

.login__btn{
    width: 300px;
    margin-top: 20px;
    height: 40px;
    border: none;
    background: rgb(36,225,227);
    background: linear-gradient(135deg, #8F4EF3 0%, #2397ED 100%);   
    border-radius: 4px;
    font-size: 18px;
    color: $white;
    font-family: sans-serif;
    outline: none;
    margin-bottom: 20px;
    cursor: pointer;

&:hover{
    background: linear-gradient(135deg, #a773f7 0%, #59b3f8 100%);  
    transition: ease .8s;
}
}
.login__pass{
    margin-bottom: 15px;
}

// Üst taraf login sayfasının css kodları

.home__menu{
    width: 246px;
}

.border__menu{
    /*border-right: solid 1px $border__color;*/
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
    border: none !important;
}

.home__head{
    font-size: 21px;
    width: 100%;
    font-weight: bolder;
    color: $black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: solid 1px $border__color;
}

.profile__picture{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    display: flex;
    justify-content: center;

}

.profile__post textarea{
    width: 100%;
    border: none;
    outline: none;
    font-size: 22px;
    line-height: 23px;
    color: #444;
    border-bottom: solid 1px $border__color;
    padding-bottom: 15px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif ;

}

.post__image__upload{
    display: flex;
    justify-content: flex-start;
}

.post__gallery__icon{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

&:hover{
    -webkit-box-shadow: 0px 0px 0px 11px rgba(29,161,248,0.2);
    transition: linear .1s all;
    cursor: pointer;
    -moz-box-shadow: 0px 0px 0px 11px rgba(29,161,248,0.2);
    text-align: center;
    box-shadow: 0px 0px 0px 11px rgba(29,161,248,0.2);
}
}

.image-item__btn-wrapper button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $black;
    color: $white;
    position: absolute;
    outline: none;
    margin-left: -145px;
    margin-top: 18px;
    text-align: center;
    border: solid 1px #333;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image-item{
    width: 150px;
    margin: 10px 0 10px 8px;
}

.image-item-container{
    display: flex;
    float: left;
}

.home__between{
    width: 100%;
    height: 10px;
    background-color: #EAF0F4;
}

.post__button{
    width: 95px;
    height: 38px;
    float: right;
    margin-top: -45px;
    margin-right: -16px;
}

.post__button input {
    width: 100%;
    height: 38px;
    border-radius: 30px;
    background: linear-gradient(135deg, rgba(36,225,227,1) 0%, rgba(181,136,247,1) 100%);
    color: $white;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: solid 1px rgba(36,225,227,1);

&:hover{
    background: linear-gradient(135deg, rgba(3,159,161,1) 0%, rgba(111,81,154,1) 100%);
}
}

.post__line{
    width: 60px;
    border-right: solid 1px rgb(170, 184, 194);
    height: 38px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -45px;
    margin-right: 96px;
}

.post__line__border{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: solid 2px $border__color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post__text__limit{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: solid 2px red;
    display: flex;
    justify-content: center;
    align-items: center;
}